# --- SANITY CMS ---
NEXT_PUBLIC_SANITY_PROJECT_ID= 055j6pls 055j6pls
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_WRITE_TOKEN=skIY6vFP9NzTrKxE8Jef7XnoIWv72F2BAW9Hx3mbvUGIjVNyXJoFh7NvxogdmFfLJWr476O5By6OCXlZlgXAjSDNViqHlVZ3dx9jiL80SpriY5zcUExvtSbwtIUZpCQR2PUgYH0QKBkayvWwO04n52wPKg41T58Cl0IW5TDyiXgvC9QnaCLp

# --- STRIPE PAYMENTS ---
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=whsec_zqg7s4hQy354i7nuB2khnlLt9tsc4zMb

# --- PRINTFUL FULFILLMENT ---
PRINTFUL_API_KEY=UPFLaLhQAE69SGfX9A9UTtfIftSk4gDzgE1C9fct

# --- MARKETING & EMAIL ---
LOOPS_API_KEY=d5a8e958b2e9dda1ba7dda42e0dbe8b5

# --- SITE SETTINGS ---
NEXT_PUBLIC_SITE_URL=https://www.raguiromo.store
